@(contentHtml: Html)
<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>SpannRace</title>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
        <link rel='stylesheet' href='@routes.Assets.at("css/main.css")'>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
    </head>
    <body>
        <div class="header">
            SpannRace
        </div>
        <div class="content">
            @contentHtml
        </div>
    </body>
</html>
